<div>
  <form
    *ngIf="!registered"
    (ngSubmit)="onSubmit()" #registerForm name="form">
    <fieldset class="form-inline col-12">
      <legend>* Name</legend>
      <div class="form-group">
        <div class="col-lg-6 pl-0">
          <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName">
        </div>
        <div class="col-lg-6 pl-0">
          <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName">
        </div>
      </div>
    </fieldset>
    <fieldset class="form-inline form-group col-12">
      <legend>* Username/Password</legend>
      <div class="form-group">
        <div class="col-lg-4 pl-0">
          <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="newUser.userName" name="userName">
        </div>
        <div class="col-lg-4 pl-0">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="newUser.password" name="password">
        </div>
        <div class="col-lg-4 pl-0">
          <input type="password" class="form-control" placeholder="Password Again">
        </div>
      </div>
    </fieldset>
    <div class="form-group col-12">

      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
  <div *ngIf="registered">
    <h1>Registration Success</h1>
  </div>
</div>

